<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="style.css">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        :root {
            --dark-purple: #A470FB;
            --light-purple: #D0B8EE;
            --light-grey: #bbb;
            --white: #fff;
            --black: #000;
        }

        .container {
            /* border:10px red solid; */
            width: 50vw;
            height: 100vh;
            margin: auto auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            /* background-color: var(--light-purple); */
        }

        .container p {
            background-color: #1cad1c94;
            color: #024602;
            padding: 30px;
            margin-top: 30px;
        }

        .container h1 {
            padding: 10px;
            text-align: center;
        }

        .container .container__box .container__form {
            display: flex;
            justify-content: center;
            align-items: center;
            /* border:1px red solid; */
            padding: 10px;
            margin-right: 80px;
        }

        .container .container__box .container__form input {
            border: 1px var(--dark-purple) solid;
            padding: 10px;
            margin: 30px;
            border-top: none;
            border-right: none;
            border-left: none;
            display: block;
            width: 100%;
        }

        .container .container__box .container__form input[type='submit'] {
            margin-top: 30px;
            width: 100%;
            background-color: var(--dark-purple);
            color: var(--white);
            color: white;
            padding: 15px;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;

        }

        #message {
            font-size: small;
            color: red;
            background-color: white;
            padding: none;
        }
    </style>

</head>

<body>
    <div class='container'>
        <div class='container__box'>
            <h1>New Password</h1>
            <p>Please create a new password, and save it on your notebook</p>
            <div class=container__form>
                <form action="">
                    <input type="text" placeholder='Create New Password' id="pass1">
                    <input type="text" placeholder='Confirm New Password' id="pass2">
                    <div class='container__change'>
                        <p id="message"></p>
                        <input type="submit" value="Change" id="submitButton" />
                    </div>
            </div>
            </form>
        </div>
    </div>
    <script>
        const submitButton = document.getElementById("submitButton");
        const pass1 = document.getElementById("pass1");
        const pass2 = document.getElementById("pass2");
        const message = document.getElementById("message");

        submitButton.addEventListener('click', (event) => {
            event.preventDefault();
            const option = {
                method: "POST",
                headers: { "Content-type": "application/json" },
                body: JSON.stringify({
                    password1: `${pass1.value}`,
                    password2: `${pass2.value}`
                })
            }
            message.innerHTML = "";

            fetch('http://localhost:6000/chamsbotcamp/resetpassword', option)
                .then(response => {
                    if (response.status == 400) {
                        message.innerHTML = "passwords do not match";
                        console.log(response);
                    }
                    if (response.status == 200){
                     
                        message.innerHTML = "hi";
                      }
            return response.json()
        })
        /*
            .then(result => {
                console.log(result);
            })*/
        })

    console.log("test test")
            fetch("http://localhost:6000/passwordreset")
            .then(response => {
                if (response.status == 401){
                    // move the user to the log in page because the user does not have a token
                    console.log("test test")
          /*
                    setTimeout(function () {
     // after 2 seconds
     window.location = "/login";
  }, 2000)
            */        
                }
                else if (response.status == 408) {
                    errorSpan.innerHTML = "your time has been expired. Please try again";
                    setTimeout(function(){
                 	window.location.href = "../../login/index.html";
                    }, 2000);
                }
                else if (response.status == 200) {

                    const postOption = {
                        method: "POST",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                          "password1": `${firstInputPass.value}`,
                          "password2": `${secondInputPass.value}`,
                        })
                    }
        
        sumbitBtn.addEventListener("click", event => {
          event.preventDefault();
            errorSpan.innerHTML = "";

            console.log('status ',response.status)
                    fetch("http://localhost:6000/chamsbotcamp/resetpassword", postOption)
                    .then(response => {
                        
                        if (response.status == 401) {
                            errorSpan.innerHTML = "your password does not match";
                        }
                        else if (response.status == 408){
                            errorSpan.innerHTML = "your time has expired";
                            setTimeout(function(){
                 	        window.location.href = "../../login/index.html";
                            }, 2000);
                        }
                        else if (response.status == 400){
                            errorSpan.innerHTML = "your password chould contain upper case characters and numbers";
                        }
                        else if (response.status == 500){
                            errorSpan.innerHTML = "please try again later";
                        }
                        else if (response.status == 200) {
                            errorSpan.innerHTML = "your pa  ssword has been updated";
                             window.location.href = "../../login/index.html"; 
                                  }, 4000);
                        }
                
               
            
        })
        })
    </script>
</body>

</html>