<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register-CSS.css">
  <title>Register</title>
</head>

<body>
  <div class="register__all-div">
    <img src="output-onlinepngtools.png">
    <h3 class="register__reg-header">Sign Up For Free</h3>
    <form class="register__form">
      <div class="main__form-control">

      <p class="formLabel">First Name</p>
      <input class="register__input" type="text" id="first_name" required>
    </div>

      <div class="main__form-control">

      <p class="formLabel">Last Name</p>
      <input class="register__input" type="text" id="last_name" required>
    </div>

      <div class="main__form-control">

      <p class="formLabel">Email</p>
      <input class="register__input" type="email" id="email" required>
    </div>

      <div class="main__form-control">
      <p class="formLabel">password</p>
      <input class="register__input" type="password" id="password" required>
    </div>

      <div class="register__error" id="register__error" hidden>
        Please try again later
      </div>
      <button class="register__button" id="register_btn">Sign Up</button>
    </form>
  </div>


  <script src="./register.js"></script>
</body>

</html>