<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="container__box">
            <h1>New Password</h1>
            <p id="p_note">Please create a new password, and save it on your notebook</p>
            <div class="container__form">
                <form action="">
                    <input id="firstInputPass" type="password" placeholder="Create New Password">
                    <input id="secondInputPass" type="password" placeholder="Confirm New Password">
                    <p id="p_error_message"></p>
                    <div class="container__change">
                        
                        <input id="submitBtn" type="submit" value="Change" />
                    </div>
            
                </form>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>