/* start content */
.main__admin-template {
  display: flex;
flex-flow: row wrap;
  padding: 15px;
  margin-left: 70px;
}
.main__select-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.main__select:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  border-radius: 8px;
}

.main__option {
  padding: 20px 20px;
  margin: 10px 10px;
  border-bottom: 2px solid var(--black);
  background-color: #ece8e2;
}
.main__select {
  margin-right: 30px;
  height: 40px;
  width: 200px;
  margin-top: 15px;
  padding: 10px 15px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f9f1f9;
}

/* start details */
.main__Details {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.main__item {
  width: 200px;
  border: 1px solid #d6bfd6;
  border-radius: 8px;
  background-color: rgba(164,112,255,1);
  resize: none;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 220px;
  font-size: 15px;
  font-weight: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
.main__item:hover {
  box-shadow: 1px 1px 10px var(--light-grey);
  transform: scale(0.98);
}
/*end details */

/* start button */
.main__button-div {
  float: right;
}
.main__Button {
  border: 1px solid var(--dark-purple);
  background-color: #f9f1f9;
  width: 150px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 8px;
}
.main__Button:hover {
  background-color: var(--dark-purple);
  color: var(--black);
}

i.fas.fa-mars{
font-size: 50px;
border-radius: 50%;
padding: 7px;
width: 70px;
height: 70px;
position: absolute;
margin-top: -35px;
margin-left: -33px;
background-color: rgba(41,28,64,1);
outline: rgba(164,112,255,1) solid 10px;
color:white ;
}
i.fas.fa-venus{
  font-size: 50px;
  border-radius: 50%;
  padding: 7px;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -35px;
  margin-left: -33px;
  background-color: rgba(41,28,64,1);
  outline: rgba(164,112,255,1) solid 10px;
  color:white ;
}
#empty{
  height: 50px;
  background-color:rgba(41,28,64,1);
}
.para{
  margin-top: 50px;
}
.name{
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}
#info{
  padding: 5px 2px 5px 2px;
  margin-top: 5px;
}
#info:hover{
  cursor: pointer;

}
/* end button */
/*end content */
