/* start main__email-template */
.main__email-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 50px;
}
.main__template {
  resize: none;
  padding: 5px;
  font-size: 18px;
  border-color: var(--light-grey);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.2;
  width: 100%;
  height: 20%;
}
.main__template:hover {
  box-shadow: 1px 1px 10px var(--light-grey);
  transform: scale(0.98);
}
.main__template1 {
  resize: none;
  padding: 5px;
  font-size: 18px;
  border-color: var(--light-grey);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.2;
  width: 100%;
  height: 61%;

}
.main__template1:hover {
  box-shadow: 1px 1px 10px var(--light-grey);
  transform: scale(0.98);
}
/* end main__email-template */
/* start email templates page popup */
.popup__email-template {
  text-align: center;
}
.popup__buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.popup__normal-btn {
  padding: 7px 12px;
  border: navajowhite;
  background-color: var(--dark-purple);
  font-size: 16px;
  cursor: pointer;
  color:black;
}
#div_email{
  border: 2px solid  #8d79b9;
  background-color: #e1c7d7;
}
snap{
  margin-top: 5px;
  color: #821386;
 font-weight: bold; 
 
}
/* end email templates page popup */
